@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Quicksand:wght@300;400;500;600;700&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Quicksand', 'Nunito Sans', sans-serif;
  line-height: 2.5;
  font-weight: 400;

  color-scheme: dark;
  color: #d9d9e6;
  background-color: #22201e;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #d4a86f;
  text-decoration: inherit;
}
a:hover {
  color: #c6934f;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #1e1f22;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  font-weight: 600;
  color: #d9d9e6;
}

button {
  border-radius: 8px;
  border: .5px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #22201e;
  color: #f6f6f7;
  cursor: pointer;
  transition: all 0.25s ease;
}

button:hover {
  background-color: #22201e;
  border-color: #d4a86f;
}